:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Colors */
  --primary-color: #2e2f42;
  /* SLATE */
  --secondary-color: #434455;
  --btn-color: #f4f4fd;
  --txt-btn-color: #4d5ae5;
  --accent-txt-color: #404bbf;
  --accent-bg-color: #404bbf;
  --light-txt-cl: #ffffff;
  --icon-color: #8e8f99;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;

  /* object-fit: cover; */
}

.button {
  cursor: pointer;
  border-radius: 4px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding: 96px 0;
}
@media only screen and (min-width: 11158px) {
  .section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  width: 100%;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: #ffffff;
}
.header-container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header-container {
    padding-bottom: 22px;
    padding-top: 24px;
    padding-left: 17px;
  }
}
.header-nav {
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  /* margin-right: 76px; */
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
.logotype {
  color: var(--primary-color);
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-item {
}
/* .header-nav-item:not(:last-child) {
  margin-right: 40px;
} */
.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  display: block;
  padding-bottom: 24px;
  padding-top: 24px;

  transition: color var(--transition);
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
}
.menu-link.active::after {
  background-color: #404bbf;
}
.menu-link.active {
  color: var(--accent-bg-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-txt-color);
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
 
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .header-address-list {
   flex-direction: column;
   gap: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .header-address-list {
    display: none;
  }
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  display: block;
  transition: color var(--transition);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-txt-color);
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  text-align: center;
  padding: 112px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg_mob@1x.jpg);

   
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg_mob@2x.jpg);
  }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg_tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bg_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bg_desk@2x.jpg);
    }
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;

  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 320px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
  border: none;

  display: block;
  height: 56px;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;

  transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-bg-color);
}

/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  padding-bottom: 120px;
  padding-top: 120px;
}

.benefits-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1157px) {
  .benefits-icon-box {
    display: none;
  }
}


@media only screen and (min-width: 1158px) {
  .benefits-icon-list {
    display: flex;
  }
}

.benefits-link {
}
.benefits-icon {
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

@media only screen and (min-width: 1158px) {
  .benefits-list {
    flex-wrap: nowrap;
  }
}
.benefits-item {
  width: 396px;
  /* width: calc((100%-72px) / 4); */
}

@media only screen and (min-width: 768px) {
  .benefits-item {
    width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-item {
    width: calc((100%-72px) / 4);
  }
}

/* .benefits-item:not(:last-child) {
  margin-right: 24px;
} */

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 8px;

  color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}
.benefits-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
}

@media only screen and (min-width: 1158px) {
  .benefits-desc {
    font-weight: 400;
  }
}

/**
  |============================
  | About styles
  |============================
*/

.about {
  padding-bottom: 120px;
}
@media only screen and (max-width: 1157px) {
  .about {
    display: none;
  }
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);

  margin-bottom: 72px;
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-item {
  width: calc((100%-48px) / 3);
}
/* .about-item :not(:last-child) {
  margin-right: 24px;
} */
.about-img {
}

/**
  |============================
  | Team styles
  |============================
*/

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-container {
}

/* @media only screen and (max-width: 767px) {
  .team-container {
    padding: 0 82px;
  }
} */
/* @media only screen and (min-width: 768px) {
  .team-container {
    padding: 0 108px;
  }
} */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color);
  background-color: #f4f4fd;

  margin-bottom: 72px;
}
.team-list {
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  width: 264px;

  /* width: calc((100% - 72px) / 4); */
}

/* @media only screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
} */

@media only screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }
}
.team-container {
}

.team-img {
  display: block;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  margin-bottom: 8px;
  text-align: center;
}
.team-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  text-align: center;
  margin-bottom: 8px;
}
.team-desc-box {
  padding: 32px 0;
}

/* social icons */

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 24px;
}
.social-item {
}

.social-link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background-color: #4d5ae5;

  transition: background-color var(--transition);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: var(--btn-color);
}

/**
  |============================
  | Customers styles
  |============================
*/

.customers {
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-container {
    max-width: 582px;
  }
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: var(--primary-color);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */

  gap: 72px 16px;
  /* gap: 24px; */
}

@media only screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}

.customers-items {
  width: calc((100% - 16px) / 2);
}

@media only screen and (min-width: 768px) {
  .customers-items {
    width: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-items {
    width: calc((100% - 120px) / 6);
  }
}

/* .customers-items {
  width: calc((100% - 120px) / 6);
  height: 88px;
} */

.customers-link:hover .customer-icons,
.customers-link:focus .customer-icons {
  fill: #404bbf;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid #404bbf;
  border-radius: 4px;
  color: #404bbf;
}

.customers-link {
  width: 100%;
  height: 88px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--icon-color);

  transition: border-color var(--transition), color var(--transition);
}

.customer-icons {
  fill: currentColor;
}
/**
  |============================
  | Filters styles
  |============================
*/

.filters {
}
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.filters-item {
}
.filters-item:not(:last-child) {
  margin-right: 24px;
}
.filters-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: var(--txt-btn-color);
  background-color: var(--btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-bg-color);
  color: var(--light-txt-cl);
  border: 1px solid transparent;
}


/**
  |============================
  | Projects styles
  |============================
*/

.projects {
  padding: 96px 0 120px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
@media only screen and (min-width: 768px) {
  .projects-list {
    gap: 72px 24px;
  }
}

/* @media only screen and (min-width: 768px) {
  .projects-list {
    gap: 48px 24px ;
  }
} */
.projects-item {
  width: 396px;

  /* width: calc((100% - 48px) / 3); */
  /* margin-right: 24px;
  margin-bottom: 48px; */
}

@media only screen and (min-width: 768px) {
  .projects-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .projects-item {
    width: calc((100% - 48px) / 3);
  }
}
/* .projects-item:nth-child(n + 7) {
  margin-bottom: 0;
}
.projects-item:nth-child(3n) {
  margin-right: 0;
} */
.projects-link {
  text-decoration: none;
  display: block;

  transition: box-shadow var(--transition);
}

/* .projects-link:hover {
  transform: translateY(0%);
}

.projects-link:focus {
  transform: translateY(0%);
} */
.projects-img {
}

@media only screen and (min-width: 768px) {
  .projects-img {
    width: 356px;
    height: 300px;
  }
}
@media only screen and (min-width: 1158px) {
  .projects-img {
    width: 360px;
  }
}
.projects-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  margin-bottom: 8px;
}
.projects-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.projects-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  background-color: #4d5ae5;
  width: 100%;
  height: 100%;

  transition: transform var(--transition);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.projects-link:hover .overlay-text,
.projects-link:focus .overlay-text {
  transform: translateY(0%);
}
/**
  |============================
  | Footer styles
  |============================
*/

.footer {
  background: var(--primary-color);
  padding: 100px 0;
}

/* @media only screen and (min-width: 768px) {
  .footer-tab-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
} */
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-tab-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 72px;
  }
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logotype-light {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    margin: 0 108px;
  } 
    
  }

@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    align-items: start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-tab-container {
    display: flex;
    
  }
} 

/* @media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    display: block;
  }
}
  */


.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
 .social-media {
     display: block;
     margin-bottom: 0;
}
}
.social-media-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--light-txt-cl);
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-items {
  width: 40px;
  height: 40px;
}
.footer-link {
  width: 40px;
  height: 40px;
  background-color: var(--txt-btn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-icons {
  fill: var(--btn-color);
}
.footer-desc-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-desc-container {
    margin-bottom: 0;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-desc-container {
    display: block;
    margin-right: 120px;
     
  }
}
/* Footer form */
.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form {
   margin-left: auto;

  }
}
.subscribe-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 24px; */
   
}
@media only screen and (max-width: 767px) {
  .subscribe-label {
    width: 100%;
    
  }
}

@media only screen and (min-width: 768px) {
  .subscribe-label {
    align-items:  flex-start;  
  }
}
@media only screen and (min-width: 1158px) {
  .subscribe-label {
    display: block;
    margin-right: 24px;
  }
}
.footer-form-title {
  display: block;
  font-family: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-txt-cl);

  margin-bottom: 16px;
}

@media only screen and (min-width: 1158px) {
  .footer-form-title {
    margin-right: auto;
  }
}

.footer-form-input {
  /* width: 398px; */
  height: 40px;
width: 100%;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  color: var(--light-txt-cl);
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    margin-bottom: 0;
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form-input {
    width: 264px;
    opacity: 1;
    color: var(--light-txt-cl);
    margin-bottom: 0;
  }
}

.footer-form-input::placeholder {
  color: var(--light-txt-cl);
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 16px;
  text-align: left;
  padding: 8px 24px;

  min-width: 165px;
  height: 40px;

  border: none;
  background: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  color: var(--btn-color);

  transition: background-color var(--transition);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--accent-bg-color);
}

.footer-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icon {
  fill: #ffffff;
}

/* .footer-tab-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 72px;
} */

@media only screen and (min-width: 1158px) {
  .footer-tab-container {
    
  }
}

/**
   |============================
   | Modal window
   |============================
 */
.backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition), visibility var(--transition);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 72px;

  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 584px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 427px) {
  .modal {
    width: 315px;

  }
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
  transition-delay: 0ms;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color var(--transition), border var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill var(--transition);
}

/**
  |============================
  | Form styles
  |============================
*/

.modal-form {
  display: flex;
  flex-direction: column;
  /* padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px; */
}

.form-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  margin-bottom: 16px;
}
.modal-form-field {
  margin-bottom: 11px;
}
.modal-form-desc {
  display: block;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: #8e8f99;

  margin-bottom: 4px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;

  padding: 11px 38px;

  transition: border var(--transition);
}

.modal-form-input:focus {
  border: 1px solid #4d5ae5;
}
.modal-form-field-wrapper {
  position: relative;
  display: block;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: currentColor;
  pointer-events: none;

  transform: translateY(-50%);

  transition: fill var(--transition);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;

  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border var(--transition);
}

.modal-form-comment:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-comment::placeholder {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}
.modal-input-checkbox {
  appearance: none;
}

.modal-input-checkbox:checked {
  background-color: #404bbf;
  border-color: #404bbf;
}
.modal-input-checkbox:focus-visible {
  outline-color: #404bbf;
}
.modal-checkbox-desc {
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: #8e8f99;

  gap: 5px;
  margin-bottom: 24px;
  user-select: none;
}
.checkbox-link {
  color: #404bbf;
}

.submit-btn {
  margin: 0 auto;
  width: 169px;
  height: 56px;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--btn-color);
  border: none;
  cursor: pointer;

  transition: background-color var(--transition);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--accent-bg-color);
}

.unchecked {
  opacity: 1;
}
.checked {
  opacity: 0;
}
.modal-input-checkbox:checked + .modal-custom-check > .unchecked {
  opacity: 0;
}

.modal-input-checkbox:checked + .modal-custom-check > .checked {
  opacity: 1;
}

/* Menu humburger */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle-icon {
  fill: #2e2f42;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
} */

.mob-list {
  margin-bottom: auto;
}

.mob-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--primary-color);

  transition: var(--transition);
}
.mob-link:hover ,
.mob-link:focus{
  color: var(--accent-txt-color);
} 

.mob-contacts-list {
  margin-bottom: 48px;
}
.list {
}
.mob-contacts-item {
  
}

.mob-contacts-item .mob-tel-link{
  padding-bottom: 40px;
}
.mob-tel-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--accent-txt-color);

}
.mob-link.active{
   color: var(--accent-txt-color);
}

@media only screen and (max-width: 428px) {
  .mob-tel-link {
    
    width: 100%;

  }
}
.mob-mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--secondary-color);
}

.mob-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color var(--transition), border var(--transition);
}

.mob-close-btn:hover,
.mob-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mob-close-btn:hover .mob-close-icon,
.mob-close-btn:focus .mob-close-icon {
  fill: #ffffff;
}

.mob-close-icon {
  fill: #2e2f42;
  transition: fill var(--transition);
}

.socials-mob-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials-mob-items {
  width: 40px;
  height: 40px;
}
.socials-mob-link {
  width: 40px;
  height: 40px;
  background-color: var(--txt-btn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition);
}
.socials-mob-link:hover,
.socials-mob-link:focus {
  background-color: #31d0aa;
}
.socials-mob-icons {
  fill: var(--btn-color);
}
